# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.s3-local/swg-games/*
.s3-local/swg-rules/*

.dynamodb
.step-functions-local
.dynamo-data-local
.webpack/
.webpack-console/
.serverless/
